# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Large data — do NOT push to GitHub (too big)
creditcard.csv
data/processed/

# IDE
.vscode/
.idea/

# Secrets
.env
*.key
